
:root {
    --color-neutral-black: #000000; 
    --color-neutral-900: #212529; 
    --color-blue-900: #001733; 
    --color-purple-900: #020a33; 
    --color-purple-800: #0c1a66; 
    --color-purple-700: #1d2f99; 
    --color-purple-600: #c835cb; 
    --color-purple-500: #556aeb; 
    --color-purple-400: #6e82fe; 
    --color-purple-300: #8fa0ff; 
    --color-purple-200: #b9c4ff; 
    --color-purple-100: #ebefff; 
    --color-orange-900: #332200; 
    --color-blue-800: #002f66; 
    --color-blue-700: #004899; 
    --color-blue-600: #0061cc; 
    --color-blue-500: #007aff; 
    --color-blue-400: #3b98ff; 
    --color-blue-300: #75b6ff; 
    --color-blue-200: #b0d5ff; 
    --color-blue-100: #ebf4ff; 
    --color-orange-800: #664200; 
    --color-orange-700: #996000; 
    --color-orange-600: #cc7c00; 
    --color-orange-500: #ff9500; 
    --color-orange-400: #ffb23b; 
    --color-orange-300: #ffcc75; 
    --color-orange-200: #ffe3b0; 
    --color-orange-100: #fff8eb; 
    --color-neutral-800: #343a40; 
    --color-neutral-700: #495057; 
    --color-neutral-600: #6c757d; 
    --color-neutral-500: #adb5bd; 
    --color-neutral-400: #ced4da; 
    --color-neutral-300: #dee2e6; 
    --color-neutral-200: #e9ecef; 
    --color-neutral-100: #f8f9fa; 
    --color-default-white: #ffffff; 
    --color-default-gray-50: #f9fafb; 
    --color-default-gray-100: #f3f4f6; 
    --color-default-gray-200: #e5e7eb; 
    --color-default-gray-300: #d1d5db; 
    --color-default-gray-400: #9ca3af; 
    --color-default-gray-500: #6b7280; 
    --color-default-gray-600: #4b5563; 
    --color-default-gray-700: #374151; 
    --color-default-gray-800: #1f2937; 
    --color-default-gray-900: #111827; 
    --color-default-red-50: #fef2f2; 
    --color-default-red-100: #fee2e2; 
    --color-default-red-200: #fecaca; 
    --color-default-red-300: #fca5a5; 
    --color-default-red-400: #f87171; 
    --color-default-red-500: #ef4444; 
    --color-default-red-600: #dc2626; 
    --color-default-red-700: #b91c1c; 
    --color-default-red-800: #991b1b; 
    --color-default-red-900: #7f1d1d; 
    --color-default-yellow-50: #fffbeb; 
    --color-default-yellow-100: #fef3c7; 
    --color-default-yellow-200: #fde68a; 
    --color-default-yellow-300: #fcd34d; 
    --color-default-yellow-400: #fbbf24; 
    --color-default-yellow-500: #f59e0b; 
    --color-default-yellow-600: #d97706; 
    --color-default-yellow-700: #b45309; 
    --color-default-yellow-800: #92400e; 
    --color-default-yellow-900: #78350f; 
    --color-default-green-50: #ecfdf5; 
    --color-default-green-100: #d1fae5; 
    --color-default-green-200: #a7f3d0; 
    --color-default-green-300: #6ee7b7; 
    --color-default-green-400: #34d399; 
    --color-default-green-500: #10b981; 
    --color-default-green-600: #059669; 
    --color-default-green-700: #047857; 
    --color-default-green-800: #065f46; 
    --color-default-green-900: #064e3b; 
    --color-default-blue-50: #eff6ff; 
    --color-default-blue-100: #dbeafe; 
    --color-default-blue-200: #bfdbfe; 
    --color-default-blue-300: #93c5fd; 
    --color-default-blue-400: #60a5fa; 
    --color-default-blue-500: #3b82f6; 
    --color-default-blue-600: #2563eb; 
    --color-default-blue-700: #1d4ed8; 
    --color-default-blue-800: #1e40af; 
    --color-default-blue-900: #1e3a8a; 
    --color-default-indigo-50: #eef2ff; 
    --color-default-indigo-100: #e0e7ff; 
    --color-default-indigo-200: #c7d2fe; 
    --color-default-indigo-300: #a5b4fc; 
    --color-default-indigo-400: #818cf8; 
    --color-default-indigo-500: #6366f1; 
    --color-default-indigo-600: #4f46e5; 
    --color-default-indigo-700: #4338ca; 
    --color-default-indigo-800: #3730a3; 
    --color-default-indigo-900: #312e81; 
    --color-default-purple-50: #f5f3ff; 
    --color-default-purple-100: #ede9fe; 
    --color-default-purple-200: #ddd6fe; 
    --color-default-purple-300: #c4b5fd; 
    --color-default-purple-400: #a78bfa; 
    --color-default-purple-500: #8b5cf6; 
    --color-default-purple-600: #7c3aed; 
    --color-default-purple-700: #6d28d9; 
    --color-default-purple-800: #5b21b6; 
    --color-default-purple-900: #4c1d95; 
    --color-default-pink-50: #fdf2f8; 
    --color-default-pink-100: #fce7f3; 
    --color-default-pink-200: #fbcfe8; 
    --color-default-pink-300: #f9a8d4; 
    --color-default-pink-400: #f472b6; 
    --color-default-pink-500: #ec4899; 
    --color-default-pink-600: #db2777; 
    --color-default-pink-700: #be185d; 
    --color-default-pink-800: #9d174d; 
    --color-default-pink-900: #831843; 
    --color-extended-white: #ffffff; 
    --color-extended-blue-gray-50: #f8fafc; 
    --color-extended-blue-gray-100: #f1f5f9; 
    --color-extended-blue-gray-200: #e2e8f0; 
    --color-extended-blue-gray-300: #cbd5e1; 
    --color-extended-blue-gray-400: #94a3b8; 
    --color-extended-blue-gray-500: #64748b; 
    --color-extended-blue-gray-600: #475569; 
    --color-extended-blue-gray-700: #334155; 
    --color-extended-blue-gray-800: #1e293b; 
    --color-extended-blue-gray-900: #0f172a; 
    --color-extended-gray-50: #fafafa; 
    --color-extended-gray-100: #f4f4f5; 
    --color-extended-gray-200: #e4e4e7; 
    --color-extended-gray-300: #d4d4d8; 
    --color-extended-gray-400: #a1a1aa; 
    --color-extended-gray-500: #71717a; 
    --color-extended-gray-600: #52525b; 
    --color-extended-gray-700: #3f3f46; 
    --color-extended-gray-800: #27272a; 
    --color-extended-gray-900: #18181b; 
    --color-extended-true-gray-50: #fafafa; 
    --color-extended-true-gray-10: #f5f5f5; 
    --color-extended-true-gray-200: #e5e5e5; 
    --color-extended-true-gray-300: #d4d4d4; 
    --color-extended-true-gray-400: #a3a3a3; 
    --color-extended-true-gray-500: #737373; 
    --color-extended-true-gray-600: #525252; 
    --color-extended-true-gray-700: #404040; 
    --color-extended-true-gray-800: #262626; 
    --color-extended-true-gray-900: #171717; 
    --color-extended-warm-gray-50: #fafaf9; 
    --color-extended-warm-gray-100: #f5f5f4; 
    --color-extended-warm-gray-200: #e7e5e4; 
    --color-extended-warm-gray-300: #d6d3d1; 
    --color-extended-warm-gray-400: #a8a29e; 
    --color-extended-warm-gray-500: #78716c; 
    --color-extended-warm-gray-600: #57534e; 
    --color-extended-warm-gray-700: #44403c; 
    --color-extended-warm-gray-800: #292524; 
    --color-extended-warm-gray-900: #1c1917; 
    --color-extended-red-50: #fef2f2; 
    --color-extended-red-100: #fee2e2; 
    --color-extended-red-200: #fecaca; 
    --color-extended-red-300: #fca5a5; 
    --color-extended-red-400: #f87171; 
    --color-extended-red-500: #ef4444; 
    --color-extended-red-600: #dc2626; 
    --color-extended-red-700: #b91c1c; 
    --color-extended-red-800: #991b1b; 
    --color-extended-red-900: #7f1d1d; 
    --color-extended-orange-50: #fff7ed; 
    --color-extended-orange-100: #ffedd5; 
    --color-extended-orange-200: #fed7aa; 
    --color-extended-orange-300: #fdba74; 
    --color-extended-orange-400: #fb3cdc; 
    --color-extended-orange-500: #f97316; 
    --color-extended-orange-600: #ea580c; 
    --color-extended-orange-700: #c2410c; 
    --color-extended-orange-800: #9a3412; 
    --color-extended-orange-900: #7c2d12; 
    --color-extended-amber-50: #fffbeb; 
    --color-extended-amber-100: #fef3c7; 
    --color-extended-amber-200: #fde68a; 
    --color-extended-amber-300: #fcd34d; 
    --color-extended-amber-400: #fbbf24; 
    --color-extended-amber-500: #f59e0b; 
    --color-extended-amber-600: #d97706; 
    --color-extended-amber-700: #b45309; 
    --color-extended-amber-800: #92400e; 
    --color-extended-amber-900: #78350f; 
    --color-extended-yellow-50: #fefce8; 
    --color-extended-yellow-100: #fef9c3; 
    --color-extended-yellow-200: #fef08a; 
    --color-extended-yellow-300: #fde047; 
    --color-extended-yellow-400: #facc15; 
    --color-extended-yellow-500: #eab308; 
    --color-extended-yellow-600: #ca8a04; 
    --color-extended-yellow-700: #a16207; 
    --color-extended-yellow-800: #854d0e; 
    --color-extended-yellow-900: #713f12; 
    --color-extended-lime-50: #f7fee7; 
    --color-extended-lime-100: #ecfccb; 
    --color-extended-lime-200: #d9f99d; 
    --color-extended-lime-300: #bef264; 
    --color-extended-lime-400: #a3e635; 
    --color-extended-lime-500: #84cc16; 
    --color-extended-lime-600: #65a30d; 
    --color-extended-lime-700: #4d7c0f; 
    --color-extended-lime-800: #3f6212; 
    --color-extended-lime-900: #365314; 
    --color-extended-green-100: #dcfce7; 
    --color-extended-green-200: #bbf7d0; 
    --color-extended-green-300: #86efac; 
    --color-extended-green-400: #4ade80; 
    --color-extended-green-500: #22c55e; 
    --color-extended-green-600: #16a34a; 
    --color-extended-green-700: #15803d; 
    --color-extended-green-800: #166534; 
    --color-extended-green-900: #14532d; 
    --color-extended-emerald-50: #ecfdf5; 
    --color-extended-emerald-100: #d1fae5; 
    --color-extended-emerald-200: #a7f3d0; 
    --color-extended-emerald-300: #6ee7b7; 
    --color-extended-emerald-400: #34d399; 
    --color-extended-emerald-500: #10b981; 
    --color-extended-emerald-600: #059669; 
    --color-extended-emerald-700: #047857; 
    --color-extended-emerald-800: #065f46; 
    --color-extended-emerald-900: #064e3b; 
    --color-extended-teal-50: #f0fdfa; 
    --color-extended-teal-100: #ccfbf1; 
    --color-extended-teal-200: #99f6e4; 
    --color-extended-teal-300: #5eead4; 
    --color-extended-teal-400: #2dd4bf; 
    --color-extended-teal-500: #14b8a6; 
    --color-extended-teal-600: #0d9488; 
    --color-extended-teal-700: #0f766e; 
    --color-extended-teal-800: #115e59; 
    --color-extended-teal-900: #134e4a; 
    --color-extended-cyan-50: #ecfeff; 
    --color-extended-cyan-100: #cffafe; 
    --color-extended-cyan-200: #a5f3fc; 
    --color-extended-cyan-300: #67e8f9; 
    --color-extended-cyan-400: #22d3ee; 
    --color-extended-cyan-500: #06b6d4; 
    --color-extended-cyan-600: #0891b2; 
    --color-extended-cyan-700: #0e7490; 
    --color-extended-cyan-800: #155e75; 
    --color-extended-cyan-900: #164e63; 
    --color-extended-light-blue-50: #f0f9ff; 
    --color-extended-light-blue-100: #e0f2fe; 
    --color-extended-light-blue-200: #bae6fd; 
    --color-extended-light-blue-300: #7dd3fc; 
    --color-extended-light-blue-400: #38bdf8; 
    --color-extended-light-blue-500: #0ea5e9; 
    --color-extended-light-blue-600: #0284c7; 
    --color-extended-light-blue-700: #0369a1; 
    --color-extended-light-blue-800: #075985; 
    --color-extended-light-blue-900: #0c4a6e; 
    --color-extended-blue-50: #eff6ff; 
    --color-extended-blue-100: #dbeafe; 
    --color-extended-blue-200: #bfdbfe; 
    --color-extended-blue-300: #93c5fd; 
    --color-extended-blue-400: #60a5fa; 
    --color-extended-blue-500: #3b82f6; 
    --color-extended-blue-600: #2563eb; 
    --color-extended-blue-700: #1d4ed8; 
    --color-extended-blue-800: #1e40af; 
    --color-extended-blue-900: #1e3a8a; 
    --color-extended-indigo-50: #eef2ff; 
    --color-extended-indigo-100: #e0e7ff; 
    --color-extended-indigo-200: #c7d2fe; 
    --color-extended-indigo-300: #a5b4fc; 
    --color-extended-indigo-400: #818cf8; 
    --color-extended-indigo-500: #6366f1; 
    --color-extended-indigo-600: #4f46e5; 
    --color-extended-indigo-700: #4338ca; 
    --color-extended-indigo-800: #3730a3; 
    --color-extended-indigo-900: #312e81; 
    --color-extended-violet-50: #f5f3ff; 
    --color-extended-violet-100: #ede9fe; 
    --color-extended-violet-200: #ddd6fe; 
    --color-extended-violet-300: #c4b5fd; 
    --color-extended-violet-400: #a78bfa; 
    --color-extended-violet-500: #8b5cf6; 
    --color-extended-violet-600: #7c3aed; 
    --color-extended-violet-700: #6d28d9; 
    --color-extended-violet-800: #5b21b6; 
    --color-extended-violet-900: #4c1d95; 
    --color-extended-purple-50: #faf5ff; 
    --color-extended-purple-100: #f3e8ff; 
    --color-extended-purple-200: #e9d5ff; 
    --color-extended-purple-300: #d8b4fe; 
    --color-extended-purple-400: #c084fc; 
    --color-extended-purple-500: #a855f7; 
    --color-extended-purple-600: #9333ea; 
    --color-extended-purple-700: #7e22ce; 
    --color-extended-purple-800: #6b21a8; 
    --color-extended-purple-900: #581c87; 
    --color-extended-fuschia-50: #fdf4ff; 
    --color-extended-fuschia-100: #fae8ff; 
    --color-extended-fuschia-200: #f5d0fe; 
    --color-extended-fuschia-300: #f0abfc; 
    --color-extended-fuschia-400: #e879f9; 
    --color-extended-fuschia-500: #d946ef; 
    --color-extended-fuschia-600: #c026d3; 
    --color-extended-fuschia-700: #a21caf; 
    --color-extended-fuschia-800: #86198f; 
    --color-extended-fuschia-900: #701a75; 
    --color-extended-pink-50: #fdf2f8; 
    --color-extended-pink-100: #fce7f3; 
    --color-extended-pink-200: #fbcfe8; 
    --color-extended-pink-300: #f9a8d4; 
    --color-extended-pink-400: #f472b6; 
    --color-extended-pink-500: #ec4899; 
    --color-extended-pink-600: #db2777; 
    --color-extended-pink-700: #be185d; 
    --color-extended-pink-800: #9d174d; 
    --color-extended-pink-900: #831843; 
    --color-extended-rose-50: #fff1f2; 
    --color-extended-rose-100: #ffe4e6; 
    --color-extended-rose-200: #fecdd3; 
    --color-extended-rose-300: #fda4af; 
    --color-extended-rose-400: #fb7185; 
    --color-extended-rose-500: #f43f5e; 
    --color-extended-rose-600: #e11d48; 
    --color-extended-rose-700: #be123c; 
    --color-extended-rose-800: #9f1239; 
    --color-extended-rose-900: #881337; 
}