
:root {
    --shadow-drop-shadow: 4px 4px 4px 10px rgba(137,21,21,0.2);   

    --shadow-inner-shadow: inset 0 4px 4px 13px rgba(85,62,62,0.13);   

    --shadow-multi-layer-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);   

    --shadow-multi-layer-shadow-2: inset 0 4px 4px 12px rgba(0,0,0,0.25);   

    --shadow-multi-layer-shadow-3: 0 4px 4px 12px rgba(0,0,0,0.25);   

    --shadow-multi-layer-shadow-4: inset 0 4px 4px 12px rgba(0,0,0,0.25);   

    --shadow-shadow-1: 0 0 1px 0 rgba(33,37,41,0.32);   

    --shadow-shadow-1-2: 0 4px 6px 0 rgba(33,37,41,0.2);   

    --shadow-shadow-2: 0 0 1px 0 rgba(33,37,41,0.08);   

    --shadow-shadow-2-2: 0 2px 2px 0 rgba(33,37,41,0.06);   

}